<form action="http://localhost:3000/uploaded" method="POST" enctype="multipart/form-data">
	<label for="img">Select image:</label>
	<input type="text" name="name">
    <input type="file" id="spDoc" name="file" accept="image/*" multiple>
    <input type="submit" id="upload">
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
//  function uploadDocument() {
// 			var formAttachData  = new FormData();
// 			var fileName = $("#spDoc")[0].files[0].name;
// 			formAttachData.append("file", $("#spDoc")[0].files[0]);
		
// 			var jqxhr = $.ajax({
// 				xhr: function() {
// 					var xhr = new window.XMLHttpRequest();
					
// 					return xhr;
// 				},
// 				url: "http://localhost:3000/uploaded",
// 				type: 'POST',
// 				async: false,
// 				processData: false,
// 				contentType: false,
// 				data: formAttachData,
// 			});
// 			jqxhr.done(function(res,xhr) {
//         $("#spDoc").val(null);
//         alert("done");
// 			});
// 			jqxhr.fail(function(msg) {
// 				alert("failed");
// 			});

// 		}
//   $('#spDoc').change(function() {
// 			var curFiles = this.files;
// 			if (curFiles.length > 0) {
// 				for(var i = 0; i < curFiles.length; i++) {
// 					uploadDocument();
// 				}
// 			}
// 		});
</script>